/*index*/
.Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*Category*/
.CategoryBox {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 10px;
}

.CategoryOrder {
    width: 170px;
    margin-bottom: 10px;
}

.OrderItem {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
    height: 30px;
    color: #000000;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    border: 1px solid #999999;
    border-radius: 7px;
    cursor: pointer;
    padding: 3px;
    font-size: 18px;
}

.OrderSelect:hover {
    background-color: #E6E6E6;
}

.CategoryList {
    padding: 10px;
    max-width: 170px;
    border: 1px solid #999999;
    border-radius: 7px;
}

@media screen and (max-width: 992px) {
    .CategoryBox {
        margin-top: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .CategoryBox {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

/*CheckBox*/
.ListItem {
    border-radius: 5px;
    color: #999999;
}

.ListItem:hover {
    color: #595959;
    background-color: #E6E6E6;
}

/*Footer*/
.Footer {
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
    padding: 10px 10% 40px 10%;
    background-color: #EEEEEE;
}

.FooterItem {
    color: #B3B3B3;
}

@media screen and (max-width: 992px) {
    .Footer {
        padding: 10px 40px 40px 40px;
    }
}

@media screen and (max-width: 600px) {
    .Footer {
        padding: 10px 10px 40px 10px;
    }
}

/*Header*/
.Header {
    z-index: 1000;
    padding: 10px 10% 10px 10%;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.12);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.WideView {
    display: flex;
}

.Logo {
    flex: 20%;
}

.Shortcut {
    display: none;
    margin: auto;
    opacity: 0.4;
    transition: color 0.2s ease;
    cursor: pointer;
}

.Shortcut:hover {
    opacity: 1.0;
}

.NavHor {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.Option {
    margin: 15px;
    color: #A6A6A6;
    opacity: 1.0;
    transition: color 0.2s ease;
    text-decoration: none;
}

.Option:hover {
    color: #000000;
    opacity: 1.0;
}

.NavVer {
    display: none;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-top: 2px solid #000000;
    background-color: #F2F2F2;
    opacity: 1.0;
    align: center;
}

.NavVer .Normal, .NavVer .Cuttail {
    display: block;
}

.NavVer .Option {
    display: block;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .Header {
        padding: 10px 40px 10px 40px;
    }
}

@media screen and (max-width: 760px) {
    .NavHor {
        display: none;
    }

    .Shortcut {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        padding: 10px 10px 10px 10px;
    }
}

/*Layout*/
.Layout {
    margin-top: 10px;
}

/*Post*/
.Post {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .36), 0 0 0 1px rgba(0, 0, 0, .28);
    border-radius: 5px;

    transition-property: transform, box-shadow, margin, opacity, width;
    transition-duration: 200ms;
    cusor: pointer;

    margin: 10px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    height: 250px;
    min-width: 700px; /*screen size*/
    
    position: relative;
}

.Post .Popup {
    display: none;
}

.Post .Text .Content .Desc {
    display: none;
}

.Post:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.36), 0 0 0 2px rgba(0, 0, 0, 0.28);
    height: 250px;
}

.Post:hover .Popup {
    visibility: visible;
}

.Post:hover .Text .Content .Desc {
    display: block;
}

.ItemBox {
    height: 218px;
    margin: 20px 0;
    position: relative;
}

.Item {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -70%);
    display: flex;
}

.Text {
    margin-left: 10px;
    max-width: 640px;
}

.Icon {
    border: 0.5px solid black;
    border-radius: 5px;
}

.Category {
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.Title {
    font-size: 24px;
    font-weight: bold;
}

.Info {
    font-size: 13px;
    color: rgba(0,0,0,.84);
}

.Content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.OneLine {
    font-size: 16px;
}

.Desc {
    font-size: 13px;
}

.HashTagBox .HashTag:link, .HashTagBox .HashTag:visited {
    font-size: 13px;
    color: #707070;
    text-decoration: none;
}

.HashTagBox .HashTag:hover, .HashTagBox .HashTag:active {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.PostFooter {
    font-size: 12px;
    color: #C4C4C4;
    text-align: right;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.WantedBox, .ClapBox {
    display: inline;
    position: relative;
}

.WantedItem {
    width:16px;
    position: absolute;
    bottom: 0;
    right: 7px;
}

.ClapOff {
    display: inline;
    background-color: transparent;
    border: none;
    width: 35px;
    margin-left: 10px;
}

.OffItem {
    width: 16px;
    transition: width 0.2s ease;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.ClapOff:hover .OffItem{
    width: 29px;
}

.ClapOn {
    display: none;
}

@media screen and (max-width: 992px) {
    .Post {
        min-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .Post {
        min-width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .Post {
        min-width: 300px;
    }
}

/*PostView*/
.PostView {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

@media screen and (max-width: 992px) {
    .PostView {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .PostView {
        margin-top: 30px;
        margin-bottom: 10px;
        min-width: 390px;
    }
}

/*StageBanner*/
.StageBannerBox {
    width: 100%;
    background-image: linear-gradient(to right, #4e5e75 , #714554);
}

.StageBannerItem {
    position: relative;
    height: 370px;
    overflow: hidden;
}

.Centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.BannerImg {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: auto;
    min-width: 640px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}