/**********pages**********/

/*index*/
.Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*signin*/
.Sign {
    background-color: white;
    border-radius: 5px;
    padding: 36px;
    border: 1px solid #ddd;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 67.5px;
    margin-bottom: 90px;
}

.SignInInput {
    position: relative;
    height: 34.2px;
    width: 270px;
    margin-bottom: 7.2px;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.SIInputItem {
    padding: 7.2px 9px 4.5px 9px;
    line-height: 22.5px;
    width: 252px;
    cursor: text;
    border: 0;
}

.SIInputItem::-webkit-input-placeholder {
    font-size: 14.5px;
}

.AfterInput {
    display: flex;
    width: 270px;
}

.SetSignIn {
    margin-bottom: 7.2px;
    flex: 60%;
}

.SetCheck {
    width: 11.7px;
    height: 11.7px;
    vertical-align: middle;
}

.SetLabel {
    display: inline;
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.InUpLink {
    margin-top: 3.15px;
    margin-bottom: 4.05px;
    margin-right:1.8px;
    flex: 40%;
    text-align: end;
    justify-content: flex-end;
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.SignButton {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14.5px;
    width: 270px;
    height: 45px;
    margin-bottom: 7.2px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.SignInApi {
    width: 270px;
    height: 90px;
    border: 1px solid #ddd;
}

/*signup*/
/*.Sign_signin*/

.SUInputLabel {
    color: #535353;
}

.SignUpInput {
    height: 28.8px;
    width: 270px;
    margin-bottom: 13.5px;
    border-bottom: 1px solid #ddd;
}

.SUInputItem {
    padding: 6.3px 9px 0px 9px;
    line-height: 22.5px;
    width: 252px;
    cursor: text;
    border: 0;
    font-size: 14.5px;
}

.SUInputItem::-webkit-input-placeholder {
    font-size: 12.5px;
    color: #B3B3B3;
}

.AgeSelect {
    height: 34.2px;
    width: 270px;
    margin-top: 7.2px;
    margin-bottom: 25.2px;
    border: 1px solid #ddd;
    font-size: 12.5px;
    color: #535353;
    padding-left: 9px;
    line-height: 1.5;
}

/*SignButton_signin*/

/*InUpLink_signin*/


/**********components**********/

/*Category*/
.CategoryBox {
    margin-top: 24px;
    margin-right: 28px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    height: 303px;
}

.CategoryOrder {
    width: 145px;
    margin-bottom: 8px;
}

.OrderItem {
    border: 1px solid #ddd;
    font-size: 12px;
    color: #535353;
    padding-left: 8px;
    height: 30px;
    width: 100%;
    border-radius: 4px;
}

.OrderSelect:hover {
    background-color: #E6E6E6;
}

.CategoryList {
    padding: 8px;
    max-width: 145px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .CategoryBox {
        margin-top: 24px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 600px) {
    .CategoryBox {
        margin-top: 24px;
        margin-right: 0px;
        margin-bottom: 8px;
    }
}

/*CheckBox*/
.ListItem {
    border-radius: 5px;
    font-size: 12px;
    color: #535353;
}

.ListItem:hover {
    color: #000000;
    background-color: #E6E6E6;
}

/*Footer*/
.Footer {
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
    padding: 10px 10% 40px 10%;
    background-color: #EEEEEE;
}

.FooterItem {
    color: #B3B3B3;
}

@media screen and (max-width: 992px) {
    .Footer {
        padding: 10px 40px 40px 40px;
    }
}

@media screen and (max-width: 600px) {
    .Footer {
        padding: 10px 10px 40px 10px;
    }
}

/*Header*/
.Header {
    z-index: 100;
    padding: 10px 10% 10px 10%;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.12);
    top: 0;
    display: flex;
}

.LogoBox {
    flex: 20%;
}

.Logo {
    height: 40px;
}

.NavBar {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.Option {
    margin: 20px 15px 10px 15px;
    color: #a6a6a6;
    opacity: 1.0;
    transition: color 0.2s ease;
    text-decoration: none;
}

.Option:hover {
    color: #000000;
    opacity: 1.0;
}

.OptionText {
    font-size: 14px;
}

.DropdownOption {
    margin: 20px 15px 10px 15px;
    text-decoration: none; 
    position: relative;
    
}

.Summary {
    margin: auto;
    cursor: pointer;
    color: #a6a6a6;
    transition: color 0.2s ease;
}

.Summary:hover {
    color: #000000;
    opacity: 1.0;
}

.Summary::-webkit-details-marker {
    color: #a6a6a6;
}

.Summary:hover .Summary::-webkit-details-marker {
    color: #000000;
}

.ArrowShadow {
    height: 15px;
    position: absolute;
    display: inline-block;
    z-index: 150;
    top: 17px;
    right: 0.5px;
    left: auto;
    opacity: 0.18;
}

.Arrow {
    position: absolute;
    display: inline-block;
    z-index: 300;
    top: 18px;
    right: 0;
    left: auto;
}

.DetailsMenu {
    z-index: 200;
    width: 135px;
    margin-top: 7.2px;
    position: absolute;
    top: 110%;
    right: -13.5px;
    padding: 4.5px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    display: block;
}

.MenuList {
    list-style: none;
}

.MenuItem {
    color: #24292e;
    display: block;
    text-decoration: none;
    padding: 3.6px 13.5px;
    font-size: 12.6px;
}

.Divider {
    list-style: none;
    height: 1px;
    margin: 7.2px 1px;
    background-color: #e1e4e8;
}

@media screen and (max-width: 992px) {
    .Header {
        padding: 10px 40px 10px 40px;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        padding: 10px 10px 10px 10px;
    }
}

/*Layout*/
.Layout {
    margin-top: 5px;
}

/*Post*/
.Post {
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;

    transition-property: transform, box-shadow, margin, opacity, width;
    transition-duration: 200ms;

    margin: 8px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    height: 204px;
    min-width: 560px; /*screen size*/
    
    position: relative;
}

.Post .Popup {
    display: none;
}

.Post:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    height: 204px;
}

.Post:hover .Popup {
    visibility: visible;
}

.ItemBox {
    height: 174.4px;
    margin: 16px 0;
    position: relative;
}

.Item {
    margin: 0;
    position: absolute;
    top: 53%;
    transform: translate(0, -70%);
    display: flex;
}

.Text {
    margin-left: 8px;
    max-width: 512px;
}

.Hide {
    font-size: 10px;
    visibility: hidden;
}

.Icon {
    width: 40px;
    height: 44px;
    border-radius: 5px;
}

.Category {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.Title {
    font-size: 19px;
    font-weight: bold;
}

.Info {
    font-size: 10px;
    color: rgba(0,0,0,.84);
}

.Content {
    margin-top: 8px;
    margin-bottom: 8px;
}

.OneLine {
    font-size: 13px;
}

.Desc {
    font-size: 10px;
}

.HashTagBox .HashTag:link, .HashTagBox .HashTag:visited {
    font-size: 10px;
    color: #707070;
    text-decoration: none;
}

.HashTagBox .HashTag:hover, .HashTagBox .HashTag:active {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.PostFooter {
    font-size: 9px;
    color: #C4C4C4;
    text-align: right;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 16px;
}

.WantedBox, .ClapBox {
    display: inline;
    position: relative;
}

.WantedItem {
    width:12.8px;
    position: absolute;
    bottom: 0;
    right: 5.6px;
}

.ClapOff {
    display: inline;
    background-color: transparent;
    border: none;
    width: 28px;
    margin-left: 8px;
}

.OffItem {
    width: 13px;
    transition: width 0.2s ease;
    position: absolute;
    bottom: 0;
    right: 4px;
}

.ClapOff:hover .OffItem{
    width: 23.2px;
    cursor: pointer;
}

.ClapOn {
    display: none;
}

@media screen and (max-width: 794px) {
    .Post {
        min-width: 480px;
    }
}

@media screen and (max-width: 640px) {
    .Post {
        min-width: 360px;
    }
}

@media screen and (max-width: 480px) {
    .Post {
        min-width: 240px;
    }
}

/*PostView*/
.PostView {
    max-width: 610px;
    margin: 21px 0 8px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .PostView {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 600px) {
    .PostView {
        margin-bottom: 18px;
        min-width: 310px;
    }
}

/*Rank*/
.RankBox {
    height: 700px;
    padding: 8px;
    margin: 24px 0 8px 28px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000000;
}

.Ranking {
    border: 1px solid #000000;
    width: 143px;
}

/*StageBanner*/
.StageBannerBox {
    width: 100%;
    background-image: linear-gradient(to right, #4e5e75 , #714554);
}

.StageBannerItem {
    position: relative;
    height: 370px;
    overflow: hidden;
}

.Centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.BannerImg {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: auto;
    min-width: 640px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}