/*index*/
.Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*signin*/
.Sign {
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    width:300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 100px;
}

.SignInInput {
    position: relative;
    height: 38px;
    width: 300px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.SIInputItem {
    padding: 8px 10px 5px 10px;
    line-height: 25px;
    width: 280px;
    cursor: text;
    border: 0;
}

.SIInputItem::-webkit-input-placeholder {
    font-size: 16px;
}

.AfterInput {
    display: flex;
    width: 300px;
}

.SetSignIn {
    margin-bottom: 8px;
    flex: 60%;
}

.SetCheck {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.SetLabel {
    display: inline;
    font-size: 13px;
    color: rgb(110, 110, 110);
}

.InUpLink {
    margin-top: 3.5px;
    margin-bottom: 4.5px;
    margin-right: 2px;
    flex: 40%;
    text-align: end;
    justify-content: flex-end;
    font-size: 13px;
    color: rgb(110, 110, 110);
}

.SignButton {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    width: 300px;
    height: 50px;
    margin-bottom: 8px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.SignInApi {
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
}

/*signup*/
/*.Sign_signin*/

.SUInputLabel {
    color: #535353;
}

.SignUpInput {
    height: 32px;
    width: 300px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.SUInputItem {
    padding: 7px 10px 0px 10px;
    line-height: 25px;
    width: 280px;
    cursor: text;
    border: 0;
    font-size: 16px;
}

.SUInputItem::-webkit-input-placeholder {
    font-size: 14px;
    color: #B3B3B3;
}

.AgeSelect {
    height: 38px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 28px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #535353;
    padding-left: 10px;
    line-height: 1.5;
}

/*SignButton_signin*/

/*InUpLink_signin*/

/*Category*/
.CategoryBox {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 10px;
}

.CategoryOrder {
    width: 170px;
    margin-bottom: 10px;
}

.OrderItem {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 170px;
    height: 30px;
    color: #000000;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    border: 1px solid #999999;
    border-radius: 7px;
    cursor: pointer;
    padding: 3px;
    font-size: 18px;
}

.OrderSelect:hover {
    background-color: #E6E6E6;
}

.CategoryList {
    padding: 10px;
    max-width: 170px;
    border: 1px solid #999999;
    border-radius: 7px;
}

@media screen and (max-width: 992px) {
    .CategoryBox {
        margin-top: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .CategoryBox {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

/*CheckBox*/
.ListItem {
    border-radius: 5px;
    color: #999999;
}

.ListItem:hover {
    color: #595959;
    background-color: #E6E6E6;
}

/*Footer*/
.Footer {
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
    padding: 10px 10% 40px 10%;
    background-color: #EEEEEE;
}

.FooterItem {
    color: #B3B3B3;
}

@media screen and (max-width: 992px) {
    .Footer {
        padding: 10px 40px 40px 40px;
    }
}

@media screen and (max-width: 600px) {
    .Footer {
        padding: 10px 10px 40px 10px;
    }
}

/*Header*/
.Header {
    z-index: 100;
    padding: 10px 10% 10px 10%;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.12);
    top: 0;
    display: flex;
}

.Logo {
    flex: 20%;
}

.NavBar {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

.Option {
    margin: 15px;
    color: #a6a6a6;
    opacity: 1.0;
    transition: color 0.2s ease;
    text-decoration: none;
}

.Option:hover {
    color: #000000;
    opacity: 1.0;
}

.DropdownOption {
    margin: 15px;
    text-decoration: none; 
    position: relative;
}

.Summary {
    margin: auto;
    cursor: pointer;
    color: #a6a6a6;
    transition: color 0.2s ease;
}

.Summary:hover {
    color: #000000;
    opacity: 1.0;
}

.Summary::-webkit-details-marker {
    color: #a6a6a6;
}

.Summary:hover .Summary::-webkit-details-marker {
    color: #000000;
}

.ArrowShadow {
    height: 17px;
    position: absolute;
    display: inline-block;
    z-index: 150;
    top: 18.3px;
    right: -0.75px;
    left: auto;
    opacity: 0.15;
}

.Arrow {
    position: absolute;
    display: inline-block;
    z-index: 300;
    top: 20px;
    right: 0;
    left: auto;
}

.DetailsMenu {
    z-index: 200;
    width: 150px;
    margin-top: 8px;
    position: absolute;
    top: 110%;
    right: -15px;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    display: block;
}

.MenuList {
    list-style: none;
}

.MenuItem {
    color: #24292e;
    display: block;
    text-decoration: none;
    padding: 4px 15px;
    font-size: 14px;
}

.Divider {
    list-style: none;
    height: 1px;
    margin: 8px 1px;
    background-color: #e1e4e8;
}

@media screen and (max-width: 992px) {
    .Header {
        padding: 10px 40px 10px 40px;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        padding: 10px 10px 10px 10px;
    }
}

/*Layout*/
.Layout {
    margin-top: 10px;
}

/*Post*/
.Post {
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;

    transition-property: transform, box-shadow, margin, opacity, width;
    transition-duration: 200ms;

    margin: 10px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    height: 255px;
    min-width: 700px; /*screen size*/
    
    position: relative;
}

.Post .Popup {
    display: none;
}

.Post:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    height: 255px;
}

.Post:hover .Popup {
    visibility: visible;
}

.ItemBox {
    height: 218px;
    margin: 20px 0;
    position: relative;
}

.Item {
    margin: 0;
    position: absolute;
    top: 53%;
    transform: translate(0, -70%);
    display: flex;
}

.Text {
    margin-left: 10px;
    max-width: 640px;
}

.Hide {
    font-size: 13px;
    visibility: hidden;
}

.Icon {
    width: 50px;
    height: 55px;
    border-radius: 5px;
}

.Category {
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.Title {
    font-size: 24px;
    font-weight: bold;
}

.Info {
    font-size: 13px;
    color: rgba(0,0,0,.84);
}

.Content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.OneLine {
    font-size: 16px;
}

.Desc {
    font-size: 13px;
}

.HashTagBox .HashTag:link, .HashTagBox .HashTag:visited {
    font-size: 13px;
    color: #707070;
    text-decoration: none;
}

.HashTagBox .HashTag:hover, .HashTagBox .HashTag:active {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.PostFooter {
    font-size: 12px;
    color: #C4C4C4;
    text-align: right;
    margin: 0;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.WantedBox, .ClapBox {
    display: inline;
    position: relative;
}

.WantedItem {
    width:16px;
    position: absolute;
    bottom: 0;
    right: 7px;
}

.ClapOff {
    display: inline;
    background-color: transparent;
    border: none;
    width: 35px;
    margin-left: 10px;
}

.OffItem {
    width: 16px;
    transition: width 0.2s ease;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.ClapOff:hover .OffItem{
    width: 29px;
    cursor: pointer;
}

.ClapOn {
    display: none;
}

@media screen and (max-width: 992px) {
    .Post {
        min-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .Post {
        min-width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .Post {
        min-width: 300px;
    }
}

/*PostView*/
.PostView {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

@media screen and (max-width: 992px) {
    .PostView {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .PostView {
        margin-top: 30px;
        margin-bottom: 10px;
        min-width: 390px;
    }
}

/*StageBanner*/
.StageBannerBox {
    width: 100%;
    background-image: linear-gradient(to right, #4e5e75 , #714554);
}

.StageBannerItem {
    position: relative;
    height: 370px;
    overflow: hidden;
}

.Centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.BannerImg {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: auto;
    min-width: 640px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}